@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Hanken Grotesk Variable', sans-serif;
  overflow-y: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  font-family: 'Hanken Grotesk Variable', sans-serif;
  font-size: 15px;
  background-color: #F5F4F4;
}

/* Global Styles */
.cursor-default {
  cursor: default;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
      /* overflow:visible;
      width: 5px;
      background:transparent; */
  }
  /* .no-scrollbar::-webkit-scrollbar *{
    background:transparent;
  }
  .no-scrollbar::-webkit-scrollbar-thumb {
    background: #B69400 !important;
    border-radius: 6px;
  } */
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  
      scrollbar-width: none;  
  }
}

.ant-menu-title-content {
  font-size: 16px !important;
  font-weight: 500 !important;
  /* margin-left: 15px !important; */
}

/* .ant-menu-item-icon::after{
  position: absolute  !important;
  -left: 16px !important;
} */

:where(.css-dev-only-do-not-override-17i7o6m).ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title, :where(.css-dev-only-do-not-override-17i7o6m).ant-menu-light>.ant-menu .ant-menu-submenu-selected >.ant-menu-submenu-title {
  color: #FFEA7A;
  background-color: #0D0D0D ;
}

:where(.css-dev-only-do-not-override-98536e).ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title, :where(.css-dev-only-do-not-override-98536e).ant-menu-light>.ant-menu .ant-menu-submenu-selected >.ant-menu-submenu-title {
  color: #FFEA7A;
  background-color: #0D0D0D ;
}


/* Inter */
:where(.css-dev-only-do-not-override-17i7o6m).ant-menu-inline-collapsed >.ant-menu-item, :where(.css-dev-only-do-not-override-17i7o6m).ant-menu-inline-collapsed >.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item, :where(.css-dev-only-do-not-override-17i7o6m).ant-menu-inline-collapsed >.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-submenu>.ant-menu-submenu-title, :where(.css-dev-only-do-not-override-17i7o6m).ant-menu-inline-collapsed >.ant-menu-submenu>.ant-menu-submenu-title {
  inset-inline-start: 0;
  /* padding-inline: calc(50% - 8px - 4px); */
  text-overflow: clip;
  padding: 3px 16px 0px 27px !important;
}

/* Hanken */
:where(.css-dev-only-do-not-override-98536e).ant-menu-inline-collapsed >.ant-menu-item, :where(.css-dev-only-do-not-override-98536e).ant-menu-inline-collapsed >.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item, :where(.css-dev-only-do-not-override-98536e).ant-menu-inline-collapsed >.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-submenu>.ant-menu-submenu-title, :where(.css-dev-only-do-not-override-98536e).ant-menu-inline-collapsed >.ant-menu-submenu>.ant-menu-submenu-title {
  inset-inline-start: 0;
  /* padding-inline: calc(50% - 8px - 4px); */
  text-overflow: clip;
  padding: 3px 16px 0px 26px !important;
}

.ant-modal-confirm-paragraph .ant-modal-confirm-title{
  font-weight: 600 !important;
}

.ant-modal-header .ant-modal-title{
  font-size: 18px;
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-98536e)[class^="ant-menu"], :where(.css-dev-only-do-not-override-98536e)[class*=" ant-menu"] {
  font-family: Hanken Grotesk Variable;
  font-size: 15px !important;
}

.ant-btn css-dev-only-do-not-override-gzal6t ant-btn-primary{
  background-color: #228b22 !important;
}

:where(.css-dev-only-do-not-override-gzal6t).ant-btn-primary {
  color: #fff;
  background: #228b22;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

:where(.css-dev-only-do-not-override-gzal6t).ant-btn-primary:hover {
  background: #228b22;
}

.ag-theme-quartz .ag-header-cell-text{
  font-weight: 600;
}

.ant-picker-input{
  font-size: 13px !important;
}

:where(.css-dev-only-do-not-override-98536e).ant-picker .ant-picker-input >input {
  font-size: 13.5px !important;
}

:where(.css-dev-only-do-not-override-98536e).ant-select-single .ant-select-selector {
  font-size: 15px !important;
  font-weight: 500 !important;
}

.ant-picker-panels{
  font-family: Inter Variable;
}

.inter-font{
  font-family: Inter Variable;
}

.ant-select-item-option-content{
  font-size: 15px !important;
  font-weight: 500;
}


/* Animation */
@keyframes expand {
  from {
    max-height: 0;
    opacity: 0;
    display: none;
  }
  to {
    display: flex;
    max-height: 500px; /* Adjust the height as needed */
    opacity: 1;
  }
}

@keyframes collapse {
  from {
    display: flex;
    max-height: 500px; /* Adjust the height as needed */
    opacity: 1;
  }
  to {
    display: none;
    max-height: 0;
    opacity: 0;
  }
}

.expand-animation {
  animation: expand 0.2s ease-in-out forwards;
}

.collapse-animation {
  animation: collapse 0.2s ease-in-out forwards;
}

.expanded {
  animation: expand 0.25s ease-in-out forwards;
}

.collapsed {
  animation: collapse 0.3s ease-in-out forwards;
}

/* Badge */
:where(.css-dev-only-do-not-override-98536e).ant-badge .ant-badge-count {
  background: #c12c2e !important;
  font-weight: 600 !important;
}

/* Ag Grid */
.ag-theme-quartz, .ag-theme-quartz-dark, .ag-theme-quartz-auto-dark {
  --ag-active-color: #58bffda1 !important;
  --ag-row-height: 45px !important;
}
.ag-menu-option{
  font-family: Inter Variable;
}

.ag-theme-quartz .ag-ltr .ag-column-select-header-filter-wrapper input.ag-text-field-input, .ag-theme-quartz .ag-ltr .ag-column-select-header-filter-wrapper input.ag-number-field-input, .ag-theme-quartz .ag-ltr .ag-filter-toolpanel-search input.ag-text-field-input, .ag-theme-quartz .ag-ltr .ag-filter-toolpanel-search input.ag-number-field-input, .ag-theme-quartz .ag-ltr .ag-mini-filter input.ag-text-field-input, .ag-theme-quartz .ag-ltr .ag-mini-filter input.ag-number-field-input, .ag-theme-quartz .ag-ltr .ag-filter-filter input.ag-text-field-input, .ag-theme-quartz .ag-ltr .ag-filter-filter input.ag-number-field-input, .ag-theme-quartz-dark .ag-ltr .ag-column-select-header-filter-wrapper input.ag-text-field-input, .ag-theme-quartz-dark .ag-ltr .ag-column-select-header-filter-wrapper input.ag-number-field-input, .ag-theme-quartz-dark .ag-ltr .ag-filter-toolpanel-search input.ag-text-field-input, .ag-theme-quartz-dark .ag-ltr .ag-filter-toolpanel-search input.ag-number-field-input, .ag-theme-quartz-dark .ag-ltr .ag-mini-filter input.ag-text-field-input, .ag-theme-quartz-dark .ag-ltr .ag-mini-filter input.ag-number-field-input, .ag-theme-quartz-dark .ag-ltr .ag-filter-filter input.ag-text-field-input, .ag-theme-quartz-dark .ag-ltr .ag-filter-filter input.ag-number-field-input, .ag-theme-quartz-auto-dark .ag-ltr .ag-column-select-header-filter-wrapper input.ag-text-field-input, .ag-theme-quartz-auto-dark .ag-ltr .ag-column-select-header-filter-wrapper input.ag-number-field-input, .ag-theme-quartz-auto-dark .ag-ltr .ag-filter-toolpanel-search input.ag-text-field-input, .ag-theme-quartz-auto-dark .ag-ltr .ag-filter-toolpanel-search input.ag-number-field-input, .ag-theme-quartz-auto-dark .ag-ltr .ag-mini-filter input.ag-text-field-input, .ag-theme-quartz-auto-dark .ag-ltr .ag-mini-filter input.ag-number-field-input, .ag-theme-quartz-auto-dark .ag-ltr .ag-filter-filter input.ag-text-field-input, .ag-theme-quartz-auto-dark .ag-ltr .ag-filter-filter input.ag-number-field-input {
  padding: 0px 8px !important;
  font-weight: 400 !important;
}

.ag-theme-quartz .ag-column-select-header-filter-wrapper .ag-input-wrapper::before, .ag-theme-quartz .ag-filter-toolpanel-search .ag-input-wrapper::before, .ag-theme-quartz .ag-mini-filter .ag-input-wrapper::before, .ag-theme-quartz .ag-filter-filter .ag-input-wrapper::before, .ag-theme-quartz-dark .ag-column-select-header-filter-wrapper .ag-input-wrapper::before, .ag-theme-quartz-dark .ag-filter-toolpanel-search .ag-input-wrapper::before, .ag-theme-quartz-dark .ag-mini-filter .ag-input-wrapper::before, .ag-theme-quartz-dark .ag-filter-filter .ag-input-wrapper::before, .ag-theme-quartz-auto-dark .ag-column-select-header-filter-wrapper .ag-input-wrapper::before, .ag-theme-quartz-auto-dark .ag-filter-toolpanel-search .ag-input-wrapper::before, .ag-theme-quartz-auto-dark .ag-mini-filter .ag-input-wrapper::before, .ag-theme-quartz-auto-dark .ag-filter-filter .ag-input-wrapper::before {
  display: none !important;
}

